
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-uppercase d-flex justify-content-center mt-3 "  style="color:black" href="">Track Expense</a>
    </div>
</div>
@* <input  title="Navigation menu" class="navbar-toggler" /> *@


<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="d-flex justify-content-center mt-3">
        <ul class="nav border rounded shadow-sm bg-white p-1">
            <li class="nav-item">
                <a href="dashboard" class="nav-link active">Dashboard</a>
            </li>
            
                <li class="nav-item">
                    <a href="transaction" class="nav-link active">Transaction</a>
                </li>
        </ul>
    </nav>
    
</div>
